@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

	 <div class="container" >

        <div id="main" class="wrapper clearfix">
           <h2>@Umbraco.Field("articleTitle")</h2>
			<p>@Umbraco.Field("articleContent")</p>
        </div>
	</div>