@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div id="main-container" class="container">
	<h2>Login here</h2>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		@Umbraco.RenderMacro("loginForm")
	</div>
	<div class="col-md-4">
	</div>
</div>