<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Aboutus ANY>
<!ATTLIST Aboutus id ID #REQUIRED>
<!ELEMENT ArticlesItem ANY>
<!ATTLIST ArticlesItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT Comment ANY>
<!ATTLIST Comment id ID #REQUIRED>
<!ELEMENT Contactpage ANY>
<!ATTLIST Contactpage id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Loginpage ANY>
<!ATTLIST Loginpage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT ProjectItem ANY>
<!ATTLIST ProjectItem id ID #REQUIRED>
<!ELEMENT projectMain ANY>
<!ATTLIST projectMain id ID #REQUIRED>
<!ELEMENT SimpleContentPage ANY>
<!ATTLIST SimpleContentPage id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1054" key="9e385c72-c05f-43a3-8b9c-869ce769ee47" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-11T19:18:32" updateDate="2015-10-29T14:33:53" nodeName="HomePage" urlName="homepage" path="-1,1054" isDoc="" nodeType="1053" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1052" nodeTypeAlias="Homepage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Web development Coperation]]></siteTitle>
    <bodyText><![CDATA[<p>Its possible to build nice applications in umbraco</p>]]></bodyText>
    <pageTitle><![CDATA[Web Developer Coperation]]></pageTitle>
    <gridField><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "Content Section",
                  "editor": {
                    "alias": "headline"
                  }
                },
                {
                  "value": "<p style=\"text-align: left;\">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed commodo eros. Phasellus efficitur diam et nisl fermentum semper. Fusce et augue lacus. Sed facilisis risus non fringilla gravida. Maecenas lobortis sodales nisi at aliquet. Phasellus ut leo fermentum, imperdiet velit in, laoreet turpis. Nulla id imperdiet purus, et pulvinar purus. Ut tincidunt magna ut elit consequat sollicitudin. Quisque dictum felis vel pulvinar hendrerit. Nulla pretium justo et mi feugiat, ac vulputate eros hendrerit. Integer mollis, magna dapibus fermentum consectetur, quam nisi porttitor purus, in pulvinar ipsum mi at arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris gravida eros ex, facilisis ultrices dui scelerisque at. Praesent dignissim egestas est dictum efficitur.</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "8b45f85c-05d8-d724-4b13-af5a0953e3e8"
        }
      ]
    }
  ]
}]]></gridField>
    <footerText><![CDATA[Copyright Nesuarg]]></footerText>
    <ArticlesMain id="1064" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2015-09-11T21:54:48" updateDate="2015-09-29T10:40:14" nodeName="Articles" urlName="articles" path="-1,1054,1064" isDoc="" nodeType="1061" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1059" nodeTypeAlias="ArticlesMain">
      <articleTitle><![CDATA[Welcome to our article site]]></articleTitle>
      <articleBodyText><![CDATA[<p>aa</p>]]></articleBodyText>
      <ArticlesItem id="1066" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2015-09-11T22:06:01" updateDate="2015-10-01T13:41:10" nodeName="New iPhone 6s and 6s+ on the way to the stores" urlName="new-iphone-6s-and-6splus-on-the-way-to-the-stores" path="-1,1054,1064,1066" isDoc="" nodeType="1063" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1062" nodeTypeAlias="ArticlesItem">
        <articleTitle><![CDATA[New iPhone 6s and 6s+ on the way to the stores]]></articleTitle>
        <articleContent><![CDATA[<p><strong>Lorem Ipsum</strong><span> er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</span></p>
<p> </p>
<p><span> </span></p>]]></articleContent>
      </ArticlesItem>
      <ArticlesItem id="1073" parentID="1064" level="3" creatorID="0" sortOrder="1" createDate="2015-09-11T22:42:21" updateDate="2015-09-11T22:42:21" nodeName="xmas party 2k15" urlName="xmas-party-2k15" path="-1,1054,1064,1073" isDoc="" nodeType="1063" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1062" nodeTypeAlias="ArticlesItem">
        <articleTitle><![CDATA[xmas is going to be epic see why here]]></articleTitle>
        <articleContent><![CDATA[<p><strong>Lorem Ipsum</strong><span> er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.</span></p>]]></articleContent>
      </ArticlesItem>
    </ArticlesMain>
    <Contactpage id="1076" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2015-09-28T13:48:00" updateDate="2015-10-15T16:25:35" nodeName="Contact us" urlName="contact-us" path="-1,1054,1076" isDoc="" nodeType="1075" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1074" nodeTypeAlias="Contactpage">
      <siteTitle><![CDATA[Web Development Coperation]]></siteTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Contact us]]></pageTitle>
      <Comment id="1097" parentID="1076" level="3" creatorID="0" sortOrder="0" createDate="2015-10-26T11:45:39" updateDate="2015-10-26T11:58:11" nodeName="jkjkj" urlName="jkjkj" path="-1,1054,1076,1097" isDoc="" nodeType="1096" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1095" nodeTypeAlias="Comment">
        <name><![CDATA[hjhj]]></name>
        <email><![CDATA[kk@eef.dkj]]></email>
        <subject><![CDATA[jkjkj]]></subject>
        <message><![CDATA[jkjkjk]]></message>
      </Comment>
    </Contactpage>
    <SimpleContentPage id="1077" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2015-09-29T10:22:39" updateDate="2015-10-06T10:13:44" nodeName="Test Page" urlName="test-page" path="-1,1054,1077" isDoc="" nodeType="1071" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1070" nodeTypeAlias="SimpleContentPage">
      <siteTitle><![CDATA[Web Development Coperation]]></siteTitle>
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Test Page]]></pageTitle>
      <bodyText><![CDATA[<p>Here is my test page, simple and easy</p>]]></bodyText>
    </SimpleContentPage>
    <Aboutus id="1082" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2015-09-30T16:31:27" updateDate="2015-09-30T17:09:19" nodeName="About Us" urlName="about-us" path="-1,1054,1082" isDoc="" nodeType="1081" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1080" nodeTypeAlias="Aboutus">
      <gridField><![CDATA[{
  "name": "3 column laylout",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "39c48b4a-25b0-77f2-c05a-63abca65b0d1"
        },
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "<p>We want to be the most awesome coperation of webdevelopment ever.</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "1f9861c5-e957-2847-f8b4-206cbad44803"
        },
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": []
            }
          ],
          "id": "8a39230b-36c1-5692-2dcc-8d79ec9719cd"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "6f28e8ae-ad58-cbd3-765a-aebf70a19b41"
        },
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "<p>sadasd</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "818380b5-ef67-2baa-80e9-26218ba52963"
        }
      ]
    },
    {
      "grid": 4,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "skills",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "94d0d389-83ce-30b6-d677-be884970628b"
        },
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "<p>aasdasd</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "4c6dd8b1-9714-9e35-a256-707add15dbf7"
        }
      ]
    }
  ]
}]]></gridField>
    </Aboutus>
    <Textpage id="1084" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2015-10-06T10:37:46" updateDate="2015-10-15T16:09:45" nodeName="login" urlName="login" path="-1,1054,1084" isDoc="" nodeType="1058" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1083" nodeTypeAlias="Textpage">
      <umbracoNaviHide>1</umbracoNaviHide>
    </Textpage>
    <SimpleContentPage id="1085" key="709b4182-59a6-4bdc-9991-42869d3d0860" parentID="1054" level="2" creatorID="0" sortOrder="5" createDate="2015-10-06T13:04:40" updateDate="2015-10-30T16:44:22" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1054,1085" isDoc="" nodeType="1071" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1070" nodeTypeAlias="SimpleContentPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <siteTitle><![CDATA[Web Development Coperation]]></siteTitle>
      <bodyText><![CDATA[<p>ups! you are in the wrong area of the website, find your way back here.. </p>]]></bodyText>
      <pageTitle><![CDATA[o͡͡͡╮༼ • ʖ̯ • ༽╭o͡ ]]></pageTitle>
    </SimpleContentPage>
    <Loginpage id="1094" parentID="1054" level="2" creatorID="0" sortOrder="6" createDate="2015-10-07T23:33:19" updateDate="2015-10-07T23:36:10" nodeName="Login Page" urlName="login-page" path="-1,1054,1094" isDoc="" nodeType="1093" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1092" nodeTypeAlias="Loginpage">
      <siteTitle><![CDATA[Web Development Coperation]]></siteTitle>
      <umbracoNaviHide>1</umbracoNaviHide>
    </Loginpage>
    <projectMain id="1103" key="8f944f97-9e5c-40ab-8ad8-af239ae0c1b5" parentID="1054" level="2" creatorID="0" sortOrder="7" createDate="2015-10-30T16:14:23" updateDate="2015-10-30T16:41:15" nodeName="Our Projects" urlName="our-projects" path="-1,1054,1103" isDoc="" nodeType="1100" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1099" nodeTypeAlias="projectMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pagecontent><![CDATA[<p>Watch the newest projects in the coperation made for programmers by programmers</p>]]></pagecontent>
      <pageTitle><![CDATA[Projects]]></pageTitle>
      <ProjectItem id="1104" key="087af778-b844-40bf-a72d-a59593f1ec06" parentID="1103" level="3" creatorID="0" sortOrder="0" createDate="2015-10-30T16:21:33" updateDate="2015-10-30T16:21:33" nodeName="First Project" urlName="first-project" path="-1,1054,1103,1104" isDoc="" nodeType="1102" creatorName="Jannik Grausen Fischer" writerName="Jannik Grausen Fischer" writerID="0" template="1101" nodeTypeAlias="ProjectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <statusDropdwon><![CDATA[Idea]]></statusDropdwon>
      </ProjectItem>
    </projectMain>
  </Homepage>
</root>